//  Fontes
$fonte: 'Roboto', sans-serif;

//  Cores
$cor-primaria: #FFD89C;
$cor-secundaria: #A2CDB0;
$cor-terciaria:  #85A389;
$quarta-cor: #176B87;

// tamanho das fontes
$tamanho-do-texto: 3rem;